@page "/AjouterVol"

<h3>Bienvenu dans la page qui permet d'ajouter des vols :D !!</h3>

<div class="btn-group">
    <a  href="/" class="btn btn-dark">Retour à la liste des vols</a>
    <button class="btn btn-success  ml-2">Valider</button>
</div>
@code {

}
