@page "/contact"

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>

<h3>Si vous avez des questions ou vous souhaitez signaler un bug, vous pouvez nous retrouver sur notre groupe  de <a href="https://www.facebook.com/groups/1020562312174262"><b>FACEBOOK</b></a></h3>


@code {
   
}
