@page "/contact"

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>

<p>Vous pouvez nous retrouver sur notre groupe de <a href="https://www.facebook.com/groups/1020562312174262"><b>FACEBOOK</b></a></p>

@code {
   
}
