@page "/secret"
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager NavigationManager


<div class="d-flex justify-content-center">
    <div class="form-group ">
        <h3>Veuillez saisir votre code secret :</h3>
        <input @bind-value="StaticsElements.CodeSecret" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Code secret">
    <br />

         <div class="text-center">
        <button @onclick="Save" class="btn btn-outline-dark  " type="submit">Valider</button>
    </div>
    </div> 
   

</div>

@code {

    protected override void OnInitialized()
    {
        if (StaticsElements.SecretValide())
        {
            NavigationManager.NavigateTo("index");
            snackBar.Add("Code secret enregistré", Severity.Info);
        }
    }

    public async void Save()
    {
        //var a = await localStorage.GetItemAsync<string>("myelementCokkies");

        if (StaticsElements.SecretValide())
        {
            await localStorage.SetItemAsync("myelementCokkies", StaticsElements.CodeSecret);
            snackBar.Add("Code secret valide", Severity.Success);
            await InvokeAsync(StateHasChanged);
            NavigationManager.NavigateTo("index");
        }
        else
        {
            snackBar.Add("Code secret incorrect", Severity.Error);
        }

    }

}
